.hero-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero-btn-contain {
  margin-top: 30px;
}
.hero {
  width: 100%;
  height: 100%;
  padding-top: 200px;
  padding-bottom: 200px;
  background: linear-gradient(
      0deg,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(./../img/hero/mobile/hero-mobile-min.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(./../img/hero/mobile/hero-mobile@2x-min.jpg);
  }

  @media screen and (min-width: 480px) {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(./../img/hero/tablet/hero-tablet-min.jpg);

    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(./../img/hero/tablet/hero-tablet@2x-min.jpg);
    }
  }

  @media screen and (min-width: 768px) {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(./../img/hero/desktop/hero-desktop-min.jpg);

    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(./../img/hero/desktop/hero-desktop@2x-min.jpg);
    }
  }
}
.hero__title {
  font-weight: 900;
  font-size: 44px;
  text-align: center;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 30px;
  @media screen and (max-width: 1200px) {
    font-size: 26px;
  }
  &--wrap {
    display: flex;
    justify-content: center;
  }
}
@media screen and (max-width: 767px) {
  .hero-title {
    padding-left: 0px;
    padding-right: 0px;
  }
}
.hero-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  width: 290px;
  padding: 10px;
  height: 50px;
  margin: 0.5em;
  background: black;
  color: white;
  border: none;
  border-radius: 0.625em;
  cursor: pointer;
  position: relative;
  z-index: 1;
  overflow: hidden;
  transition-duration: 1200ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-timing-function: linear;
}

.hero-btn:hover {
  color: black;
}

.hero-btn:after {
  content: '';
  background: white;
  position: absolute;
  z-index: -1;
  left: -20%;
  right: -20%;
  top: 0;
  bottom: 0;
  transform: skewX(-45deg) scale(0, 1);
  transition: all 0.5s;
}

.hero-btn:hover:after {
  transform: skewX(-45deg) scale(1, 1);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
