.page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
header {
  min-height: 80px;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
header .container nav {
  display: flex;
  align-items: center;
  gap: 100px;
}
header .container nav .logo {
  color: transparent;
  background: #1a2a6c; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #fdbb2d,
    #b21f1f,
    #1a2a6c
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #fdbb2d,
    #b21f1f,
    #1a2a6c
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-clip: text;
  -webkit-background-clip: text;
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  line-height: 1.19;
  font-weight: 700;
  text-decoration: none;
  font-style: normal;
}
header .container nav .nav {
  display: flex;
  list-style: none;
  gap: 50px;
}
header .container nav .nav .nav__page {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: 0.02em;
  text-decoration: none;
  text-transform: capitalize;
  position: relative;
}
header .container nav .men .nav .nav__page:hover {
  color: #0f3443;
}
.men > ul > li > a {
  text-decoration: none;
  color: black;
}
.men > ul > li > a::after {
  content: '';
  display: block;
  margin: 0 auto;
  width: 0%;
  transition: all 0.4s;
  border-bottom: 3px solid #8e9eab;
}
.men > ul > li > a:hover::after {
  width: 100%;
}
.page-header__tel,
.page-header__mail {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: $color-segundo-texto;
}
.page-header__links {
  margin-right: 50px;
}
@media screen and (min-width: 767.98px) and (max-width: 1199.98px) {
  .page-header__links {
    margin-right: 0px;
  }
  .page-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
.page-header {
  display: flex;
  align-items: center;
}
header
  .container
  .page-header
  li
  .page-header__link
  .page-header__icon.page-header__email {
  fill: $color-segundo-texto;
  width: 20px;
  height: 12px;
}
header
  .container
  .page-header
  li
  .page-header__link
  .page-header__icon.page-header__smartphone {
  fill: $color-segundo-texto;
  width: 20px;
  height: 17px;
}
header .container .page-header li .page-header__link:hover,
header .container .page-header li .page-header__link:focus,
header .container .page-header li .page-header__link:hover .page-header__icon {
  color: $color-web;
  fill: $color-web;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-timing-function: linear;
}
